*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(pexels-steve-12583203.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    animation: animateBg 5s linear infinite;
}
@keyframes animateBg{
    100%{
        filter:hue-rotate(360deg);
    }
}
.login-box{
    border: 2px solid rgba(225, 225, 225, .5);
    position: relative;
    width: 400px;
    height: 450px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    backdrop-filter: blur(15px);
}
h2{
    font-size: 2rem;
    color: white;
    text-align: center;
}
.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-20%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;

}
.input-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    line-height: 57px;

}
.remember-password{
  margin: -15px 0 15px;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.remember-password label input{
    margin-right: 5px;
}
.remember-password a{
    text-decoration: none;
    color: #fff;
}
.remember-password a:hover{
    text-decoration: underline;
}
.btn{
   width: 100%;
   height: 40px;
   border-radius: 40px;
   border: none; 
   outline: none;
   cursor: pointer;
   font-size: 1em;
   font-weight: 500;
}
.register-acc{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}
.register-acc a{
    color: #fff;
    text-decoration: none;
    font-weight: 600px;
}
.register-acc a:hover{
    text-decoration: underline;
}
@media (max-width:360px) {
    .login-box{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;
    }
}
